{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="container" >
   <h1 class='text-center'>Login</h1>
    <hr class="text-dark" > 
     {%if messages%}
    {%for message in messages%}
      
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {%endfor%}
    {%endif%}
    
 <form action="{% url 'login'%}" method="POST">
     {%csrf_token%}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">USERNAME</label>
    <input type="text" class="form-control" name="username" aria-describedby="">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}